#main {
    padding-top: 10%;
}
#sliderWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    height: 350px;
    margin: auto;
    background-color: lightcyan;
    border-radius: 10%;
}

#imageWrapper {
    border: 5px solid lightgrey;
    border-radius: 8%;
}

#leftImg,#rightImg,#autoImg {
    width: 32px;
}


#autoPlayBtn{
    display: flex;
    justify-content: center;
    margin-top: -16px ;
}
