/*.clickedBtn{*/
/*    background-color: pink;*/
/*    font-size: 24px;*/
/*    border: none;*/
/*}*/
/*.hidden{*/
/*    display: none;*/
/*}*/
* {
    box-sizing: border-box;
}

.container_first{
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 30px;
}
.input_field{
    display: block;
}
.info{
    max-width: 350px;
    border: 2px black solid;
}
.hidden{
    display: none;
}
.container_second{
    max-width: 1400px;
    margin: auto;
    text-align: center;
}
.container_third{
    max-width: 1400px;
    margin: auto;
}
.table{
    display: flex;
    flex-wrap: wrap;
}
.cell{
    width: 10%;
    border: black solid 1px;
}
.container_fourth{
    max-width: 1400px;
    margin: auto;
    text-align: center;
}