@font-face {
    font-family: 'star_jediregular';
    src: url('../fonts/star_jedi_regular-webfont.woff2') format('woff2'),
    url('../fonts/star_jedi_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}