@import url("animation.css");
@import url("fonts.css");

body {
    background-color: black;
    font-family: 'star_jediregular', sans-serif !important;

}

.img-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.img-wrapper img {
    max-width: 300px;
}

.btn-wrapper {
    padding: 5px;
    position: relative;
    max-width: 1170px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-around;
    border: #FCDF2B 1px solid;
    border-radius: 16px;

}

.sw-btn, .next-btn,.prev-btn {
    color: #FCDF2B;
    background-color: transparent;
    border: 1px solid #FCDF2B;
    border-radius: 14px;
    padding: 10px 22px;
    transition: 500ms ease all;
}

.sw-btn:hover, .sw-btn:focus, .next-btn:hover, .next-btn:focus,.prev-btn:hover,.prev-btn:focus {
    background-color: #FCDF2B;
    color: black;
}

.fields-wrapper {
    /*border:1px solid #FCDF2B;*/
    /*border-radius: 16px;*/
    margin: auto;
    max-width: 1170px;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.people-field,
.vehicle-field,
.planets-field {
    max-width: 350px;
    border: 1px solid #FCDF2B;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    visibility: hidden;


}

.list {
    list-style: none;
    text-transform: lowercase;
    color: #FCDF2B;
    text-align: left;
}

.list li {
    cursor: pointer;
    margin-bottom: 10px;
}

.list li:hover {
    text-decoration: underline;
}

.next-btn,.prev-btn {
    font-size: 14px;
    padding: 5px 10px;
}
.next-btn{
    visibility: hidden;
}
.modal-content{
    background-color: black !important;
    border:1px solid #FCDF2B !important;
    color: #FCDF2B !important;
}
.modal-content li{
    margin-bottom: 15px;
}
