.container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


#personForm,
#carForm {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black ;
    padding: 10px;
    border-radius: 13px;
}


#personForm > p,#carForm >p {
    margin-top: -7px;
    color: red;
}
#assignment{
    height: 40px;
}
