@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  background:#282D35;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
